In [11]:
from os import listdir
from os.path import isfile, join
import re
import mlflow as mf
from mlflow.tracking import MlflowClient
from mlflow.entities import ViewType
import zipfile

workspace_dir = '/opt/code/aiduez3_dspace/workspace'

In [12]:
def get_new_filename(path):
    files_only = [f for f in listdir(path) if isfile(join(path, f))] # file names only(not directories)
    match_result = [re.match('Untitled([1-9]\d*)[.]ezx|Untitled[.]ezx',name) for name in files_only] # match file names with 'Untitled~.ezx'
    file_no_list = [x.group(1) for x in match_result if x] # get file numbers including None('=Untitled.ezx')
    file_no_list_exept_none = [int(y) for y in file_no_list if y]

    if None in file_no_list: # if 'Untitled.ezx' in files_only
        if len(file_no_list) == 1:
            return 'Untitled1.ezx'
        else:
            max_no = max(file_no_list_exept_none)
            for i in range(1, max_no + 1):
                if i not in file_no_list_exept_none:
                    return f'Untitled{i}.ezx'
    else:
        return 'Untitled.ezx'

In [24]:
files_only=[f for f in listdir(workspace_dir) if isfile(join(workspace_dir, f))] # file names only(not directories)
match_result = [re.match('Untitled([1-9]\d*)[.]ezx|Untitled[.]ezx',name) for name in files_only] # match file names with 'Untitled~.ezx'

In [25]:
files_only

['Untitled.ezx', 'Untitled1.ezx']

In [26]:
match_result

[<re.Match object; span=(0, 12), match='Untitled.ezx'>,
 <re.Match object; span=(0, 13), match='Untitled1.ezx'>]

In [27]:
file_no_list = [x.group(1) for x in match_result if x] # get file numbers including None('=Untitled.ezx')
file_no_list

[None, '1']

In [28]:
file_no_list_exept_none = [int(y) for y in file_no_list if y]
file_no_list_exept_none

[1]

In [48]:
import pandas as pd

df = pd.read_csv('/opt/code/aiduez3_dspace/data/titanic_train.csv')

In [49]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.0500,NaN,S
1,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
2,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
3,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
4,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
797,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
798,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
799,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
800,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
801,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
filename = get_new_filename(workspace_dir)
filepath = f'{workspace_dir}/{filename}'
file = zipfile.ZipFile(filepath, 'w')

In [21]:
filename

In [15]:
filepath = f'{workspace_dir}/{filename}'
filepath

'/opt/code/aiduez3_dspace/workspace/Untitled.ezx'

In [17]:
file = zipfile.ZipFile(filepath, 'w')

In [34]:
mf.set_tracking_uri('/usr/tmp/.mlflow')

In [36]:
mf.create_experiment(filename)

'0'

In [27]:
mf.list_run_infos("1", run_view_type=ViewType.ACTIVE_ONLY)

[]